<p id="notice"><%= notice %></p>


<!--
<div id="rising">
  <h1>Rising Tide</h1>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @rising_stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.symbol, stock_path(stock) %></td>
          <td><%= link_to stock.name, stock_path(stock) %></td>
          <td><%= link_to stock.industry, stock %></td>
          <td><%= link_to stock.rank, stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="icarus">
  <h1>Icarus</h1>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @icarus_stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.symbol, stock_path(stock) %></td>
          <td><%= link_to stock.name, stock_path(stock) %></td>
          <td><%= link_to stock.industry, stock %></td>
          <td><%= link_to stock.rank, stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="bargain">
  <h1>Bargain Bin</h1>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @bargain_stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.symbol, stock_path(stock) %></td>
          <td><%= link_to stock.name, stock_path(stock) %></td>
          <td><%= link_to stock.industry, stock %></td>
          <td><%= link_to stock.rank, stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="caution">
  <h1>Look Out Below</h1>
  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @caution_stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.symbol, stock_path(stock) %></td>
          <td><%= link_to stock.name, stock_path(stock) %></td>
          <td><%= link_to stock.industry, stock %></td>
          <td><%= link_to stock.rank, stock %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

-->
