<div id="stock-page">
  <div class="fluid-container">
      <div class="row">
        <div id="rising" class="col-xs-3" class="picks">
          <h3 style="color: rgba(30, 144, 255, 1); font-weight: bold;">Ride The Wave</h3>
            <div id="stock-list">
              <ul>
                <% @rising_stocks.each do |stock| %>
                  <li><%= link_to stock.symbol, stock_path(stock) %> - <%= link_to stock.name, stock_path(stock) %> <span style="color:rgba(30, 144, 255, 1);">[<%= stock.rank %>]</span></li>
                <% end %>
              </ul>
            </div>
        </div>

        <div id="icarus" class="col-xs-3" class="picks">
          <h3>Defying Gravity</h3>
          <div id="stock-list">
          <ul>
              <% @icarus_stocks.each do |stock| %>
                <li><%= link_to stock.symbol, stock_path(stock) %> - <%= link_to stock.name, stock_path(stock) %> <span style="color:yellow;">[<%= stock.rank %>]</span></li>
              <% end %>
            </ul>
          </div>
        </div>


        <div id="bargain" class="col-xs-3" class="picks">
          <h3 style="color: rgba(0, 255, 127, 1); font-weight: bold;">Bargain Bin</h3>
          <div id="stock-list">
          <ul>
              <% @bargain_stocks.each do |stock| %>
                <li><%= link_to stock.symbol, stock_path(stock) %> - <%= link_to stock.name, stock_path(stock) %> <span style="color: rgba(0, 255, 127, 1);">[<%= stock.rank %>]</span></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div id="caution" class="col-xs-3" class="picks">
          <h3 style="color: red; font-weight: bold;">Look Out Below</h3>
          <div id="stock-list">
          <ul>
              <% @caution_stocks.each do |stock| %>
                <li><%= link_to stock.symbol, stock_path(stock) %> - <%= link_to stock.name, stock_path(stock) %> <span style="color:red;">[<%= stock.rank %>]</span></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




