<!DOCTYPE html>
<html>
  <head>
    <title>Valetbike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript"> $(function ()
          { $("#sign_up").modal({show:false });
    </script>
    <script type="text/javascript"> $(function ()
          { $("#log_in").modal({show:false });
    </script>

  </head>

  <body>
    <div id="reg_modals">
    <%= render template: "devise/sessions/new" %>
    <%= render template: "users/registrations/new" %>
    </div>
  	<%= render partial: "layouts/navbar" %>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
          <%= yield %>
  </body>
</html>
